
<form action="/students" method="post">
<%= token_tag nil %>

<input type="text" name="name" placeholder="name"><br>
<input type="text" name="hobby" placeholder="hobby"><br>
<input type="number" name="age" placeholder="age"><br>

<input type="submit" value="create student">
</form>