<div class="card" style="width: 18rem; position: absolute; top: 25%; left: 25%;">
  <div class="card-body">
    <h1 class="card-title"><%= @student.name %></h1>
    <h2 class="card-text"><%= @student.hobby %></h2>
    <h2 class="card-text"><%= @student.age %></h2>
    <a href="/students/edit/<%= @student.id %>" class="btn btn-primary">Edit Student</a>
  </div>
</div>
